        body {
            background-color: black;
            color: white;
            font-family: 'Libre Baskerville', serif;
            margin: 0;
            padding: 0;
        }

        .container {
            width: 50%;
            margin-left: 25%; 
            text-align: center;
            margin-top: 50px;
        }

        h1 {
            text-transform: uppercase; 
            font-weight: 400; 
        }

        img {
            width: 100%; 
            border: 5px solid white;
            margin-top: 20px;
        }
